#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors/studio_unlock.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1500  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define MEH(key) LC(LA(LG(key)))

#define _BASE 0
#define _NAV 1
#define _WIN 2
#define _NUM 3
#define _FUNC 4
#define _MOUSE 5
#define _MEDIA 6
#define _SEL 7

// first row
#define S_CARET &kp CARET
#define S_LT    &kp RA(W)
#define S_GT    &kp RA(E)
#define S_DLLR  &kp DLLR
#define S_PRCNT &kp PRCNT
#define S_AT    &kp RPAR
#define S_AMPS  &kp AMPS
#define S_STAR  &kp STAR
#define S_SQT   &kp SQT
#define S_GRAVE &kp GRAVE

// second row
#define S_LBRC  &kp LBRC
#define S_LPAR  &kp RA(S)
#define S_RPAR  &kp RA(D)
#define S_RBRC  &kp RBRC
#define S_EQUAL &kp EQUAL
#define S_BSLH  &kp BSLH
#define S_PLUS  &kp PLUS
#define S_MINUS &kp C
#define S_FSLH  &kp MINUS
#define S_DQT   &kp DQT

// third row
#define S_TILDE &kp TILDE
#define S_LBKT  &kp LBKT
#define S_RBKT  &kp RBKT
#define S_UNDER &kp UNDER
#define S_HASH  &kp LPAR
#define S_PIPE  &kp PIPE
#define S_EXCL  &kp RA(M)
#define S_SEMI  &kp RA(COMMA)
#define S_COLON &kp RA(DOT)
#define S_QMARK &kp RA(FSLH)

#define QUICK_TAP_MS 200
#define TAPPING_TERM_MS 200

&mmv {
    acceleration-exponent = <1>;      // 1
    time-to-max-speed-ms = <500>;     // 300
    delay-ms = <0>;                   // 0
};

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <40>;      // 300
    delay-ms = <0>;                   // 0
};

/ {
    behaviors {
        lq: layer_toggle_quick {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <TAPPING_TERM_MS>;
            quick-tap-ms = <QUICK_TAP_MS>;
            bindings = <&mo>, <&kp>;
        };

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            label = "Hold Tap";
        };

        htb: hold_tap_balanced {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold Tab Balanced";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
&kp Q          &kp W         &ht LGUI E       &kp R          &kp T             &kp Y     &kp U             &ht RGUI I         &kp O         &kp P
&ht LGUI A     &ht LALT S    &ht LCTRL D      &htb LSHFT F   &kp G             &kp H     &htb RSHFT J      &ht RCTRL K        &ht LALT L    &ht RGUI SEMI
&kp Z          &kp X         &kp C            &kp V          &kp B             &kp N     &kp M             &kp COMMA          &kp DOT       &kp FSLH
                                     &mo _MEDIA                                               &mo _FUNC
&kp C_PP         &lq _MOUSE ESC   &lq _NAV SPACE  &lq _WIN TAB               &lt _SEL RET    &htb LSHFT BSPC     &lq _FUNC DEL    &kp INT9
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
&kp KP_MINUS      &kp N7         &ht LGUI N8     &kp N9          &kp KP_SLASH          &kp PG_UP   &kp HOME      &kp UP        &kp END        &kp INS
&ht LGUI KP_PLUS  &ht LALT N4    &ht LCTRL N5    &ht LSHFT N6    &kp N0                &kp PG_DN   &kp LEFT      &kp DOWN      &kp RIGHT      &kp K_APP
&kp KP_COMMA      &kp N1         &kp N2          &kp N3          &kp KP_DOT            &none       &kp LC(LEFT)  &kp SPACE     &kp LC(RIGHT)  &kp CAPS
                  &trans                               &trans
         &trans   &trans   &trans   &trans    &trans   &trans   &trans   &trans
            >;
        };

        win_layer {
            display-name = "Win";
            bindings = <
&kp MEH(Q)         &kp MEH(N7)    &kp MEH(N8)    &kp MEH(N9)  &none      &kp MEH(PG_UP)   &kp MEH(HOME)      &kp MEH(UP)        &kp MEH(END)         &none
&kp MEH(TAB)  &kp MEH(N4)    &kp MEH(N5)    &kp MEH(N6)  &kp MEH(F)      &kp MEH(PG_DN)   &kp MEH(LEFT)      &kp MEH(DOWN)      &kp MEH(RIGHT)       &kp MEH(F16)
&none         &kp MEH(N1)    &kp MEH(N2)    &kp MEH(N3)  &none           &none            &kp MEH(F17)       &kp MEH(F18)       &kp MEH(F19)         &none
                  &trans                                    &trans
         &trans   &trans   &trans   &trans         &trans  &kp LSHFT  &kp DEL   &trans
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
&kp KP_MINUS    &kp N7    &kp N8    &kp N9    &kp KP_SLASH     &none    &none        &none        &none      &none
&kp KP_PLUS     &kp N4    &kp N5    &kp N6    &kp N0           &none    &kp RSHFT    &kp RCTRL    &kp LALT   &kp RGUI
&kp KP_COMMA    &kp N1    &kp N2    &kp N3    &kp KP_DOT       &none    &none        &none        &none      &none
                  &trans                               &trans
         &trans   &trans   &trans   &trans    &trans   &trans   &trans   &trans
            >;
        };

        func_layer {
            display-name = "Fun";
            bindings = <
&kp F1    &kp F2    &kp F3    &kp F4    &kp PSCRN       &none    &none        &none        &none      &none
&kp F5    &kp F6    &kp F7    &kp F8    &none           &none    &kp RSHFT    &kp RCTRL    &kp LALT   &kp RGUI
&kp F9    &kp F10   &kp F11   &kp F12   &none           &none    &none        &none        &none      &none
                  &trans                               &trans
         &trans   &trans   &trans   &trans    &trans   &trans   &trans   &trans
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
&none          &none         &none            &none          &none           &none      &msc SCRL_LEFT  &mmv MOVE_UP     &msc SCRL_RIGHT    &none
&kp LGUI       &kp LALT      &kp LCTRL        &kp LSHFT      &none           &mkp MB4   &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_RIGHT   &mkp MB5
&kp C_AC_UNDO  &kp C_AC_CUT  &kp C_AC_COPY    &kp C_AC_PASTE &none           &none      &msc SCRL_UP    &none            &msc SCRL_DOWN     &none
                  &trans                                  &mkp MCLK
         &trans   &trans   &trans   &trans    &mkp LCLK   &kp SPACE   &mkp RCLK   &trans
            >;
        };

        media_layer {
            display-name = "Media";
            bindings = <
&none  &none  &none    &none  &studio_unlock           &none   &none        &kp C_BRI_DEC    &kp C_BRI_INC   &none
&none  &none  &none    &none  &none                    &none   &kp K_PREV   &kp C_VOL_DN     &kp C_VOL_UP   &kp K_NEXT
&none  &none  &none    &none  &none                    &none   &none        &kp K_MUTE       &none          &none
                  &trans                                    &trans
         &trans   &trans   &trans   &trans         &trans   &trans   &trans   &trans
            >;
        };

        selenium_layer {
            display-name = "Selenium";
            bindings = <
S_CARET S_LT    S_GT    S_DLLR  S_PRCNT      S_AT    S_AMPS  S_STAR  S_SQT   S_GRAVE
S_LBRC  S_LPAR  S_RPAR  S_RBRC  S_EQUAL      S_BSLH  S_PLUS  S_MINUS S_FSLH  S_DQT
S_TILDE S_LBKT  S_RBKT  S_UNDER S_HASH       S_PIPE  S_EXCL  S_SEMI  S_COLON S_QMARK
                  &trans                                    &trans
         &trans   &trans   &trans   &trans         &trans   &trans   &trans   &trans
            >;
        };
    };
};
